ul{
    list-style: none;
}

.city-item{
    margin: 10px;
}

.text-container{
    align-items: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow-box  */
    border-radius: 8px;
    padding: 10px;
}