

.dropdown-menu{
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    min-width: 160px;
}

.dropdown-menu-container{
    position: relative;
    display: inline-block;
}