/*In dit voorbeeld staat alle CSS in één bestand, dit wil je eigenlijk nooit.
Om de het begrijpen van de bestaande code zo eenvoudig mogelijk te maken,
is het voor deze opdracht wel gedaan!*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. layout
    4. Areas
    5. Media Queries
////////////////////////////////////////////////////////////////////////*/

/*1.Global Styles //////////////////////////////*/

/*colors*/
:root{
  --black-norm-text: #0C0C0C;
  --background-grey: #7A7A7A;
  --background-button-lightgray: #778899FF;
  --backgroudn-mediumgrey:#e6ebfa;
  --background-lightgrey: #F3F6F9;
  --background-white: #F2F0FF;
  --background-dark-green-blue: #27394a;
  --purple: #5722CD;
  --blue: #4845E4;
  --pink: #ED4385;
}


/*css reset*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #051524;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1{
  margin: 10px;
}


/*2.Typografie/////////////////////////////////*/

/*3.layout/////////////////////////////////*/
/*3.1 reusable*/

.outer-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inner-container{
  flex-basis: 1200px;
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

/*4. Areas//////////////////////////////////////*/
/*4.1 header*/
.header-section{
  background-color: var(--blue);
  color: white;
}
.header-container{
  border: 2px dashed red;
}
.header-content-text{
  border: 2px dashed green;
}
.header-navigation{
  width: 100%;
  border: 2px dashed orange;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 16px 0;
}

.header-navigation ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 500px;
}

/*4.2 form*/
/*Algemene formulier-styling*/
form {
  display: flex;
  flex-direction: column;
  background-color:var(--backgroudn-mediumgrey);
  padding: 32px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow-box  */
  border-radius: 4px;
}

form label {
  margin: 4px 0;
  font-weight: bold;
}

.form-button {
  width: 100%;
}


/*5. Media Queries//////////////////////////////*/
html {
  /* voor mobiel */
  font-size: 1rem;
  background-color: var(--background-lightgrey);
}

@media screen and (min-width: 900px) {
  /* voor tablets */
  html {
    font-size: 1.1rem;
    background-color: var(--background-lightgrey);
  }
}

@media screen and (min-width: 1200px) {
  /* voor desktops en groter */
  html {
    font-size: 1.25rem;
    background-color: var(--background-lightgrey);
  }
}

a,
a:visited,
a:active {
  color: #0d3b66;
}

a:hover {
  color: #ea7e1f;
}

h2 {
  margin: 32px 0 24px 0;
}

.content {
  margin: 32px;
}

section  {
  margin: 0 0 50px 0;
}

.error {
  color: orangered;
}



