@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Neucha&display=swap');


/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. layout
    4. Areas
    5. Media Queries
////////////////////////////////////////////////////////////////////////*/

/*1.Global Styles //////////////////////////////*/

/*colors*/
:root{
  --black-norm-text: #0C0C0C;
  --background-grey: #7A7A7A;
  --background-lightgrey: #F3F6F9;
  --background-white: #F2F0FF;
  --purple: #5722CD;
  --blue: #4845E4;
  --pink: #ED4385;
}


/*css reset*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #051524;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Neucha', 'Times New Roman', cursive;
}

h1{
  margin: 10px;
}

/*2.Typografie/////////////////////////////////*/

/*3.layout/////////////////////////////////*/
/*3.1 reusable*/

.outer-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid black;
}

/*4. Areas//////////////////////////////////////*/
/*4.1 header*/
.header-section{
  background-color: var(--blue);
  color: white;
}
.header-container{
  border: 2px dashed red;
}
.header-content-text{
  border: 2px dashed green;
}
.header-navigation{
  width: 100%;
  border: 2px dashed orange;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 16px 0;
}

.header-navigation ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 500px;
}

.inner-container{
  flex-basis: 1200px;
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  border: 2px dashed orange;
}

/*5. Media Queries//////////////////////////////*/
html {
  /* voor mobiel */
  font-size: 1rem;
  background-color: var(--background-grey);
}

@media screen and (min-width: 900px) {
  /* voor tablets */
  html {
    font-size: 1.1rem;
    background-color: white;
  }
}

@media screen and (min-width: 1200px) {
  /* voor desktops en groter */
  html {
    font-size: 1.25rem;
    background-color: var(--background-lightgrey);
  }
}

/*Algemene button styling*/
button {
  border-radius: 4px;
  border: none;
  /*color: white;*/
  padding: 8px 16px;
  background-color: #f5ab00;
  color: white;
  font-weight: bold;
}

/*Zorgt ervoor dat als twee buttons naast elkaar staan, er altijd ruimte tussen blijft*/
button + button {
  margin-left: 8px;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  background-color: #FAD57F;
}

a,
a:visited,
a:active {
  color: #0d3b66;
}

a:hover {
  color: #ea7e1f;
}

/*Algemene formulier-styling*/
form {
  display: flex;
  flex-direction: column;
  background-color: #faeab3;
  padding: 32px;
  max-width: 300px;
  border-radius: 4px;
}

form label {
  margin: 4px 0;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 4px 8px;
  margin: 6px 0;
}

h2 {
  margin: 32px 0 24px 0;
}

.content {
  margin: 32px;
}

.form-button {
  width: 100%;
}

nav {
  background-color: #0d3b66;
  color: white;
  display: flex;
  padding: 0 32px;
  align-items: center;
  justify-content: space-between;
}

nav a,
nav a:visited,
nav a:active {
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.logo-container img {
  width: 40px;
  margin-right: 8px;
}

section  {
  margin: 0 0 50px 0;
}

.error {
  color: orangered;
}

/*Zet mij op een element en ik blijf voor altijd draaien!*/
.loading-icon {
  width: 16px;
  height: 16px;
  animation: rotating 1.5s linear infinite;
}
